:root {
  font-family: "Poppins", sans-serif;
  --colorPrincipal: rgb(226, 83, 0);
  --colorSecundaria: rgb(66, 6, 6);
  --colorTextSecundario: rgb(148, 148, 148);
  --colorButtons:#FFF;
  --backGroundPrincipal:#FFF;
  --colorBackBtn: #e9e9e9;
  --colorButtonQuest:rgb(250, 235, 219);
  --colorBorderButtonQuest:rgb(226, 121, 0);
  --colorXmarck:rgb(250, 219, 219);
  --colorBorderXmark:rgb(226, 0, 0);
  --colorTextXmark: rgb(173, 6, 6);
  --colorButtonHover:rgb(255, 136, 0);
  --backGroundSecundario:rgb(255, 247, 238);
  --colorBluesLight:rgb(138, 193, 255);
  --colorGreenLight: rgb(129, 192, 147);
  --colorRedLight:rgb(194, 108, 108);
  --colorBlack: #000;
  --colorTextButton:#FFF;
  --bgClaro:rgb(243, 208, 208);
  --colorCheck:rgb(16, 179, 16);
  --bgGray:#bad3cd;
  --borderGray:#a4cfc5;
  --bgRoxo: #7550cc;
  --bgRoxoClaro: #efe9fd;
  --bgBtnMulher:#f759c2;
  --bgBtnHomem:#5c59f7;
  --colorPreco:rgb(226, 121, 0);
  --colorPrecoClaro:rgb(255, 221, 182);
  --colorFundoPreco:#FFF;
  --colorPrecoDesmarcado:rgb(173, 173, 173);
  --colorPrecoDesmarcadoClaro:rgb(236, 236, 236);
  --colorTimer:red;
  --colorTimerLight:rgb(255, 190, 190);
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}