.containerQuizType_3{
    display: flex;
    flex-direction: column;
}
.containerQuizType_3 .quest{
    padding: 20px;
    max-width: 600px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containerQuizType_3 .btnQuest{
    margin-top: 10px;
}
.containerQuizType_3 .btnProximo{
    margin-top: 20px;
}